* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#body {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

#nav, #footer{
  display: grid;
  place-content: center;
  text-align: center;
  grid-template-columns: 100%;
  position: sticky;
}

#nav{
  top:0;
}

#footer{
  bottom: 0;
}


main{
  display: flex;
  flex-grow: 1;

}